*{
  scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: 'Merriweather', serif;
}
.home_page_screen{
    background-color: #fff;
    width: 100%;
    height: 120vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    max-height: 80px;
    border-bottom: 0.8px solid rgba(0,0,0,0.1);
}
.navbar strong{
    font-size: 38px;
    color:#1B1212;
    font-weight: bolder;
}
button{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 180px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    color: 	#DC143C;;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid 	#DC143C;

}
button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color:	#DC143C;;
  }

button:active{
  transform: scale(95%);
}

  /* Hero Section */

  .hero_Section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .hero_Section .left{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero_Section .left strong{
    font-size:4.2rem;
    text-align: left;
    color:#1B1212;
    
   
  }

  .hero_Section .left .subSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;

  }

  .hero_Section .left .subSection .infoSection{
        width: 50%;
        margin-left: 4rem;
        height: 100%;
  }



.hero_Section .left .subSection .infoSection p{
        line-height: 1.5rem;
        color:rgba(0,0,0,0.4);
        font-weight: 700;
    }



  .hero_Section .right{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }



  /* MEETING ROOM SECTION */

  .meeting_room_Section{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: #000;
    display: flex;
    flex-direction: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .bookSection_heading{
    color:#f9f6ee;
    font-size: 3.2rem;
    margin:3.2rem;

  }

  .meetingListContainer{
    width: 95%;
    min-height:80vh;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 3fr));
}

.meetingListContainer .meetingCard{
    width: 60%;
    height: 40vh;
    border:2px solid rgba(255,255,255,0.2);
    border-radius: 0.6rem;
    margin: 2rem;
    cursor:pointer;
    transition: 0.3s ease;
    color:#f9f6ee;
    display: flex;
    flex-direction: column;
    padding:1rem;
}

.meetingListContainer .meetingCard strong{
    font-size: 1.6rem;
    height: 1.8rem;
    width: 100%;
    border-bottom:0.5px solid rgba(255,255,255,0.2);
    
}

.meeting_room_Section .meetingCard .roomInfoSection{
    height: 80%;
    margin-top: 2rem;
}

.meeting_room_Section .meetingCard .roomInfoSection div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 0.5rem;
}

.meeting_room_Section .meetingCard .roomInfoSection div label{
    font-weight: 700;
    font-size: 1.2rem;
}

.meeting_room_Section .meetingCard .roomInfoSection div p{
     color:rgba(255,255,255,0.8);
}

.meeting_room_Section .meetingCard:hover{
    transform: translateY(-2%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border:2px solid rgba(255,255,255,0.4);
}


/* Import User Section */

.importUserSection{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.importUserSection strong{
  font-size: 2.2rem;
}



/* ADMIN CSS */

.adminheroSection{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
}

.adminheroSection .leftSection{
  width: 45%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid rgba(0,0,0,0.1);
  border-radius: 0.6rem;
  margin:0 0.5rem;

}

.adminheroSection .leftSection div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.adminheroSection .leftSection div label{
  font-size: 1.2rem;
}
.adminheroSection .leftSection div h2{
  font-size: 1.4rem;
}
.adminListRooms{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:3rem 0;
  background-color: #000;
  color:#f9f6ee;
}
.adminListRooms strong{
  font-size: 2.2rem;
}
/* ADMIN CSS */

/* Style the table */
.scheduledMeetingContainer{
    width: 95%;
    min-height:80vh;
    max-height: 300px;
    /* height:fit-content; */
    display:flex;
    justify-content:center ;
    align-items: center;
    overflow: auto;
}

#scheduledMeetings {
  width: 80%;
  border-radius: 10px;
  border-collapse: collapse;
  margin: 20px;
  color: white;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(107, 106, 106);
}

/* Style the table headers */
#scheduledMeetings th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-weight: bolder;
}

/* Style the table cells */
#scheduledMeetings td {
  border-bottom: 1px solid #0c0c0c;
  padding: 18px;
}

/* Style alternating rows */
#scheduledMeetings tr:nth-child(even) {
  background-color: #2a2828;
}

/* Hover effect on rows */
#scheduledMeetings tr:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}
